<div class="header__links">
  <a href="{{myself.github}}" target="_blank">{{fa-icon "github"}}</a>
  <a href="{{myself.linkedin}}" target="_blank">{{fa-icon "linkedin"}}</a>
  <a href="{{myself.twitter}}" target="_blank">{{fa-icon "twitter"}}</a>
  <a href="{{myself.facebook}}" target="_blank">{{fa-icon "facebook"}}</a>
  <a href="{{myself.skype}}" target="_blank">{{fa-icon "skype"}}</a>
</div>
