<div class="header__links">
  <a href="{{myself.github}}">{{fa-icon "github"}}</a>
  <a href="{{myself.linkedin}}">{{fa-icon "linkedin"}}</a>
  <a href="{{myself.twitter}}">{{fa-icon "twitter"}}</a>
  <a href="{{myself.facebook}}">{{fa-icon "facebook"}}</a>
  <a href="{{myself.skype}}">{{fa-icon "skype"}}</a>
</div>
